html,
body,
*{
	padding: 0;
	margin: 0;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	box-sizing: border-box;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
	  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    /* ----- Color variables ----- */
    --primary-color: #61e786ff;
    --secondary-color: #1be7ffff;
    --extra-color: #efbdebff;
    --warning-color: #ffb800ff;
    --active-color: #ff5714ff;
    --text-color: #DDE8B9;
    --background: #0c0c0c;
    --light-black: #111;

    /* ------ Font variables ------ */
    --quicksand: 'Quicksand', sans-serif;
    --nunito: 'Nunito', sans-serif;
    --trispace: 'Trispace', sans-serif;

    /* ----- website texts ----- */
    --heading-font: var(--trispace);
    --body-font: var(--nunito);
    --rounded-text: var(--quicksand);

    /* ------- font sizes ------ */

    /* breakpoints */
    --large: 1440px;
    --regular: 1360px;
    --small: 1080px;
    --tablet: 960px;
    --smartphone: 520px;
    --pixel: 475px;
    --retina: 360px;
    
}

:root {
  --backgroundColor: #292929;
  /* --primaryColor: #0aa1ff; */
  --primaryTextColor: #e6e6e6;

  --headlineBig: clamp(5rem, 9.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
}

body {
  background-color: var(--backgroundColor);
}
/* hero page styling */ 
.hero{
	height: 100vh;
}
.hero__header {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero__header h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}

.hero__header h2 {
  letter-spacing: var(--headlineSmall);
  font-size: var(--headlineSmall);
  text-transform: uppercase;
  color: var(--primaryColor);
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-section h3 {
  color: var(--primaryTextColor);
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
}

.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}



/* header */
header{
	width: 100%;
	display: grid;
	grid-template-columns: 33% 33% 33%;
}
.Lround {
	width: 65px;
	height: 65px;
	background: linear-gradient(#FF4E50,#F9D423);
	border-radius: 50%;
	margin: 10px;
}
nav {
	width: 100%;
	text-align: center;
	padding-top: 16px;
	opacity: 0.75;
}
nav ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	display: inline-block;
	padding: 10px 15px;
	font-size: 20px;
	color: #fff;
}
.HIcon{
	width: 100%;
}
.Hwrap {
	width: 200px;
	height: 90px;
	background: #fff;
	float: right;
	padding: 10px;
	text-align: right;
	clip-path: circle(46.5% at 100% 0);
	cursor: pointer;
}
.Hwrap img {
	width: 38px;
	object-fit: cover;
}

/* container */
.container{
	width: 100%;
	display: grid;
	grid-template-columns: 6% 94%;
}
.sideline {
	width: 100%;
	display: flex;
    align-items: flex-end;
}
.line {
	display: flex;
	padding: 0px 10px;
	overflow: hidden;
}
.line span{
	width: 5px;
	height: 200px;
	background: #fff;
	display: inline-block;
	margin: 5px;
}
.lone {
	display: block;
}
.ltwo {
	display: block;
	margin-top: 50px;
}
.lthree{
	display: block;
	margin-top: 100px;
}


/* container Header */
/* .heading img {
	width:55%;
} */
.up {
	position: relative;
	text-align: center;
	width: 100%;
	height: 75vh;
	overflow: hidden;
	display: grid;
	place-items: center;
	place-content: center;
	padding-right: 36px;
}
.Htag{
	position: relative;
}

@keyframes up-and-down {
	0% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(-20px);
	}
	100% {
	  transform: translateY(0);
	}
  }

  @keyframes up-and-down1 {
	0% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(20px);
	}
	100% {
	  transform: translateY(0);
	}
  }
.target{
	position: absolute;
	width: 47% !important;
  top: -18%;
  right: -46%;
	animation: up-and-down 2s ease-in-out infinite;

}

.laptop{
	position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
	height: inherit;
}
.task{
	position: absolute;
	width: 34% !important;
	top: -8%;
	left: 22%;
	animation: up-and-down 2s ease-in-out infinite;
}

.ads{
	position: absolute;
	width: 97% !important;
	top: 41%;
	left: 68%;
	animation: up-and-down1 2s ease-in-out infinite;

  }

.rocket{
	position: absolute;
	position: absolute;
	width: 64% !important;
  top: 49%;
  right: 48%;
  }



.up h1{
	
	font-size: 150px;
	color: #fff;
	mix-blend-mode: difference;
	text-shadow:2px 1px 1px #FFFFFF,
				2px 1px 3px #FFFFFF,
				2px -2px 1px #FFFFFF,
				-2px 1px 1px #FFFFFF,
				2px 2px 3px #000,
				-2px 5px 4px #000;
    font-weight: 400;
}
.up h1:last-child {
	transform: translate(20%, -45%);
}
.up span {
	letter-spacing: -0.15em;
}
.down {
	width: 100%;
	display: grid;
	grid-template-columns: 60% 40%;
}
.paraG p {
	color: white;
	
}
.solink ul li {
	display: inline-block;
	padding: 0px 8px;
	overflow: hidden;
}
.solink a {
	color: white;
	display: inline-block;
	font-size: 14px;
	position:relative;
	padding:5px 0px;
	cursor:pointer;
}
.solink a::after{
	content:"";
	width:0%;
	height:2px;
    background:#fff;
	position:absolute;
	bottom:0px;
	left:0px;
	transition:.5s;

}
.solink a:hover::after{
	width:100%;
}

.solink {
	padding-top: 70px;
	font-family: LEMON MILK;

}
/*

   /* Extra small devices (phones, 600px and down) */
   @media only screen and (max-width: 600px) {
	.up {
		height: 300px; 
		background-size: 138%;
	  }
	
	  .up h1 {
		font-size: 5rem;
	}

	.laptop {
		width: 100%;
    height: auto;
	  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.up {
		height: 300px; 
		background-size: 75%;
	  }
	
	  .up h1 {
		font-size: 6rem;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.up {
		height: 300px;
		background-size: 60%;
	  }
	
	  .up h1 {
		font-size: 6rem;
	}
}

/*Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
	.up {
		height: 100%;
		background-size: 57%;
	  }
	
	  .up h1 {
		font-size: 10rem;
	}
}



/* About page */ 
.working-ul{
	width: 100vw;
	height: 70dvh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.working-ul p {
	
	font-family: "Belleza", sans-serif;
	position: relative;
	font-size: 2rem;
	text-align: center;
	-webkit-text-stroke: 1px black;
	color: transparent;
	z-index: 1;
	margin: 0 4rem;
}
.item {
 
  font-family: "Belleza", sans-serif;
  position: relative;
  font-size: 2rem;
  text-align: center;
  -webkit-text-stroke: 1px rgb(255, 5, 5);
  color: transparent;
 

}

.item img {
  position: absolute;
  width: 300px;
  height: 400px;
  object-fit: cover;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  z-index: -10;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*************PANEL*************/

  
  .panel {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 1.5em;
	text-align: center;
	color: white;
	position: relative;
	box-sizing: border-box;
	padding: 10px;
  }
  
  
 
  /* SCROLL DOWN */
  .scroll-down {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%, 0);
	color: black;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 16px;
	overflow: visible;
  }
  
  .scroll-down .arrow {
	position: relative;
	top: -4px;
	margin: 0 auto;
	width: 20px;
	height: 20px;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
	background-size: contain;
  }
  
  .arrow-right {
	transform: rotate(-90deg);
	position: relative;
	top: -4px;
	margin: 1rem auto;
	width: 20px;
	height: 20px;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
	background-size: contain;
  }
  
  html,
  body {
	height: auto;
  }
  
  .panels-container {
	position: relative;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
  }
  
  .panel {
	height: 100vh;
	/* position: sticky; */
	top: 0;
	z-index: 1;
  }
  
  .animate-panel {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  }
  
  .full-screen {
	width: 100%;
	height: 100vh;
  }
  


/***********workinglibraries*************/
  
.wrapper {
	margin: auto;
	max-width: 800px;
	width: 100%;
  }
  
  .title {
	max-width: 300px;
	line-height: 1.2;
	margin: 0 0 16px
  }
  
  .text {
	max-width: 350px;
	line-height: 1.6;
	margin: 0 0 32px;
  }
  
  .boxes {
	display: flex;
	flex-flow: row wrap;
  }
  
  .boxes .box {
	max-width: calc(33.33% - 32px);
	margin: 16px;
	min-height: 75px;
	width: 100%;
	height: 25vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
  }
  
  .boxes .box svg.ico-color {
	fill: #fff;;
  }
  
  .boxes .box:nth-of-type(5n+1) {
	background-color: #E31D65;
  }
  
  .boxes .box:nth-of-type(5n+2) {
	background-color: #FF7C35;
  }
  
  .boxes .box:nth-of-type(5n+3) {
	background-color: #FFCB36;
  }
  
  .boxes .box:nth-of-type(5n+4) {
	background-color: #25A954;
  }
  
  .boxes .box:nth-of-type(5n+5) {
	background-color: #007D97;
  }


  /*skills */
  /* Container */

  .skills{
	width: 100%;
	height: 100dvh;
	color: wheat;
  }
.skills-container {

	max-width: 1000px;
  
	margin: auto;
  
	padding: 16px;
  
	display: flex;
  
	flex-direction: column;
  
	justify-content: center;
  
	width: 100%;
  
	height: 100%;
  
  }
  
  
  /* Skills title */
  
  .skills-title {
  
	font-size: 4rem;
  
	font-weight: bold;
  
	display: inline;
  
	border-bottom: 4px solid #e53e3e;
  
	margin: 0;
  
  }
  
  
  /* Skills description */
  
  .skills-description {
  
	margin: 16px 0;
  
  }
  
  
  /* Skills grid */
  
  .skills-grid {
  
	width: 100%;
  
	display: grid;
  
	grid-template-columns: repeat(3, 1fr); /* Change to repeat(4, 1fr) for 4 columns */
  
	grid-gap: 16px;
  
	text-align: center;
  
	padding: 32px 0;
  
  }
  
  
  /* Skill item */
  
  .skill-item {
  
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  
	transition: transform 0.5s;
  
  }
  
  
  /* Skill item: hover */
  
  .skill-item:hover {
  
	transform: scale(1.1);
  
  }
  
  
  /* Skill icon */
  
  .skill-icon {
  
	width: 80px;
  
	margin: auto;
  
	display: block;
  
  }
  
  
  /* Skill name */
  
  .skill-name {
  
	margin: 16px 0;
  
  }


  /*********how I work */ 
  .section-flat{
    height: 100%;
    width: 100%;
    max-width: 1350px;
    margin: 40px 0px;
}
.flat-heading{
    font-size: 6em;
    margin-bottom: 20px;
    color: rgba(239, 189, 235, 0.3);
    -webkit-text-stroke: 2px #efbdebff;
    font-family: var(--quicksand);
    margin-left: 50px
}
.card-wrapper{
    margin-top: 50px;
}
.card-row{
    padding: 50px 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    height: 300px;
    width: 300px;
    margin-bottom: 100px;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.card .icon {
    margin-top: -90px;
    padding: 30px 26px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}
.card .icon i {
    font-size: 36px;
    line-height: 1;
}
.card .icon:hover{
    animation: rotatefull 0.5s linear 1;
    transition: 2s ease;
}
.card .title {
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.6em;
	white-space: nowrap;
    font-family: var(--nunito);
    text-align: left;
    color: var(--secondary-color);
    letter-spacing: 2px;
}
.card .description {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 10px;
    text-align: left;
    font-family: var(--quicksand);
	color: var(--text-color);

}
.section-boxed{
    height: auto;
    width: 100%;
    max-width: 1250px;
    padding: 50px;
    border-radius: 50px;
    margin: 40px auto;
}
.section-head{
    font-size: 6em;
    text-align: left;
    color: rgba(97, 231, 135, 0.3);
    -webkit-text-stroke: 2px #61e786ff;
    font-family: var(--quicksand);
}
.block-container{
    padding: 40px;
}
.subhead {
    display: block;
    font-family: var(--nunito);
    font-size: 1.4em;
    line-height: 1.8em;
    /* identical to box height */
    margin: 20px 60px;
    color: #FFFFFF;
}


.blackglass{
    background: rgba( 0, 0, 0, 0.50 );
    box-shadow: 0 8px 32px 0 rgba(29, 29, 29, 0.37);
    backdrop-filter: blur( 6.0px );
    -webkit-backdrop-filter: blur( 6.0px );
    border: 1px solid rgba(105, 105, 105, 0.3);
}


/** ------------------------------------------------------
------------------- Eduation classes --------------------
--------------------------------------------------------- */

/* ------------------//////// timeline design ////////---------------- */

.timeline-container {
	max-width: 1100px;
	margin: 0 auto;
  }
  
  
  
  
  
 
  
  #timeline {
	width: 100%;
	margin: 30px auto;
	position: relative;
	padding: 0 10px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
  }
  #timeline:before {
	content: "";
	width: 3px;
	height: 100%;
	background: #ee4d4d;
	left: 50%;
	top: 0;
	position: absolute;
  }
  #timeline:after {
	content: "";
	clear: both;
	display: table;
	width: 100%;
  }
  #timeline .timeline-item {
	margin-bottom: 50px;
	position: relative;
  }
  #timeline .timeline-item .timeline-icon {
	background: #ee4d4d;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 50%;
	overflow: hidden;
	margin-left: -23px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
  }
  #timeline .timeline-item .timeline-icon svg {
	position: relative;
	top: 14px;
	left: 14px;
  }
  #timeline .timeline-item .timeline-content {
	width: 45%;
	background: #fff;
	padding: 20px;
	-webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }
  #timeline .timeline-item .timeline-content h2 {
	padding: 15px;
	background: #ee4d4d;
	color: #fff;
	margin: -20px -20px 0 -20px;
	font-weight: 300;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
  }
  #timeline .timeline-item .timeline-content:before {
	content: "";
	position: absolute;
	left: 45%;
	top: 20px;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #ee4d4d;
  }
  #timeline .timeline-item .timeline-content.right {
	float: right;
  }
  #timeline .timeline-item .timeline-content.right:before {
	content: "";
	right: 45%;
	left: inherit;
	border-left: 0;
	border-right: 7px solid #ee4d4d;
  }
  
  .btn {
	padding: 5px 15px;
	text-decoration: none;
	background: transparent;
	border: 2px solid #f27c7c;
	color: #f27c7c;
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	font-size: 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-ms-transition: background 0.3s ease;
	transition: background 0.3s ease;
	-webkit-box-shadow: 2px 2px 0 #f27c7c;
	-moz-box-shadow: 2px 2px 0 #f27c7c;
	-ms-box-shadow: 2px 2px 0 #f27c7c;
	box-shadow: 2px 2px 0 #f27c7c;
  }
  .btn:hover {
	box-shadow: none;
	top: 2px;
	left: 2px;
	-webkit-box-shadow: 2px 2px 0 transparent;
	-moz-box-shadow: 2px 2px 0 transparent;
	-ms-box-shadow: 2px 2px 0 transparent;
	box-shadow: 2px 2px 0 transparent;
  }
  
  @media screen and (max-width: 768px) {
	#timeline {
	  margin: 30px;
	  padding: 0px;
	  width: 90%;
	}
	#timeline:before {
	  left: 0;
	}
	#timeline .timeline-item .timeline-content {
	  width: 90%;
	  float: right;
	}
	#timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
	  left: 10%;
	  margin-left: -6px;
	  border-left: 0;
	  border-right: 7px solid #ee4d4d;
	}
	#timeline .timeline-item .timeline-icon {
	  left: 0;
	}
  }
/** ------------------------------------------------------
------------------- color bg classes --------------------
--------------------------------------------------------- */
.blackglass{
    background: rgba( 0, 0, 0, 0.50 );
    box-shadow: 0 8px 32px 0 rgba(29, 29, 29, 0.37);
    backdrop-filter: blur( 6.0px );
    -webkit-backdrop-filter: blur( 6.0px );
    border: 1px solid rgba(105, 105, 105, 0.3);
}
.bluie{
    background: rgba( 63, 205, 199, 0.15 );
    box-shadow: 0 8px 32px 0 rgba(0, 153, 145, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(90, 255, 247, 0.3);
    color: #3fcdc7;
}
.pinkie{
    background: rgba(253, 108, 156, 0.15);
    box-shadow: 0 8px 32px 0 rgba(131, 0, 44, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(255, 155, 188, 0.3);
    color: #ff689b;
}
.orangie{
    background: rgba( 255, 87, 2, 0.15 );
    box-shadow: 0 8px 32px 0 rgba(145, 48, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(255, 127, 63, 0.3);
    color: rgb(255, 87, 20);
}
.pirplie{
    background: rgba(167, 102, 219, 0.15);
    box-shadow: 0 8px 32px 0 rgba(99, 0, 180, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(210, 159, 255, 0.3);
    color: rgb(189, 143, 228);
}
.greenie{
    background: rgba( 97, 231, 134, 0.15 );
    box-shadow: 0 8px 32px 0 rgba(0, 126, 36, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(97, 231, 134, 0.3);
    color: #61e786;
}
.brownie{
    background: rgba( 243, 167, 18, 0.15 );
    box-shadow: 0 8px 32px 0 rgba(148, 99, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(255, 191, 63, 0.3);
    color: rgb(243, 167, 18);
}
.purpleglass{
    background: rgba(239, 216, 255, 0.219);
    box-shadow: 0 8px 12px 0 rgba(97, 0, 167, 0.24);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 2px solid rgba(200, 121, 255, 0.3);
    color: rgb(200, 121, 255);
}